<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}
{% block side_block %}
{% endblock %}
{% block body_block %}
    {% csrf_token %}
    <div class="container-fluid">
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-10">

            <script>
                $(document).ready(function () {
                    $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay'
                        },
                        dayClick: function (date, jsEvent, view) {
                            $('#fullCalDayModal').modal();
                        },
                        weekends:false,
                        fixedWeekCount: false,
                        aspectRatio: 2,
                    });
                });
            </script>

                <div class="page-header" style="">
                    <h1>Welcome to your page, {{ name }}</h1>
                </div>
                <div class="profile-tabs">
                    <ul class="nav nav-tabs" style="">
                        <li role="presentation" class="active"><a href="{% url 'profile' username=user.username %}">User Details</a> </li>
                        <!-- note to self, role="presentation" may be prohibiting the creation of appointments -->
                        <li role="presentation" class="active"><a href="{% url 'calendar' username=user.username %}">Appointments</a> </li>
                        <li role="presentation" class="active"><a href="{% url 'medical' username=user.username %}">Medical Info</a></li>
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>{{ user.profile.getName }}</strong></h3>
                        </div>
                        <ul class="list-group">
                            <form class="form-horizontal">

                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tuberculosis:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.tuberculosis }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Influenza:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.influenza }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Rheumatic:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.rheumatic }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Whooping Cough:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.whoopingCough }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tonsillitis:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.tonsillitis }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Measles:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.measles }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Mumps:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.mumps }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Frequent Colds:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.frequentColds }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">German Measles:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.germanMeasles }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Scarlet Fever:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.scarletFever }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Scarlatina:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.scarlatina }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Diphtheria:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.diphtheria }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label class="col-sm-2 control-label">Polio:</label>
                                            <p class="form-control-static">{{ user.patient.medicalInfo.polio }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Chickenpox:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.chickenpox }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Coxsackie:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.coxsackie }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Pneumonia:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.pneumonia }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">High Blood Pressure:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.highBloodPressure }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Migraine:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.migraine }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Stroke:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.strokes }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kidney Disease:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.kidneyDisease }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Arthritis:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.arthritis }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Allergy:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.allergy }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Bleeding:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.bleeding }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Syphilis:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.syphilis }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Anemia:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.anemia }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Obesity:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.obesity }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" style="max-height: 50px">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Epilepsy:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ user.patient.medicalInfo.epilepsy }}</p>
                                        </div>
                                    </div>
                                </li>


                            </form>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}
    </html>





<!---
                        <div class="col-md-1 col-md-offset-10 col-xs-offset-4">
                            <a type="button" class="btn btn-default" href="{% url 'edit' username=user.username %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Edit</a>
                        </div>
                        --->
