<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>HealthNet</title>

		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="../../static/materialize/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			
		<!--Import jQuery before materialize.js-->


		<!--Import FullCalendar-->
		<link href="../../static/fullcalendar-2.5.0/fullcalendar.min.css" type="text/css"  rel="stylesheet" />
		<link href="../../static/fullcalendar-2.5.0/fullcalendar.css" type="text/css"  rel="stylesheet" />
		<link href="../../static/fullcalendar-2.5.0/fullcalendar.print.css" media="print" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="../../static/jquery-2.1.4.min.js"></script>
		<script src="../../static/fullcalendar-2.5.0/lib/jquery.min.js"></script>
		<script src="../../static/fullcalendar-2.5.0/lib/moment.min.js"></script>
		<script src="../../static/fullcalendar-2.5.0/fullcalendar.min.js"></script>
		<script type="text/javascript" src="../../static/materialize/js/materialize.min.js"></script>
		
			
		<script>
				/*
					jQuery document ready
				*/
				
				$(document).ready(function()
				{
					/*
						date store today date.
						d store today date.
						m store current month.
						y store current year.
					*/
					var date = new Date();
					var d = date.getDate();
					var m = date.getMonth();
					var y = date.getFullYear();
					
					/*
						Initialize fullCalendar and store into variable.
						Why in variable?
						Because doing so we can use it inside other function.
						In order to modify its option later.
					*/
					
					var calendar = $('#calendar').fullCalendar(
					{	
						aspectRatio: 1.5,
						header:
						{
							left: 'prev,next today',
							center: 'title',
							right: 'month,agendaWeek,agendaDay'
						},
						dayClick: function(date, jsEvent, view){
						
								$("#id_date").attr("value", date.toISOString().slice(0,10));
								
								if (view.name != 'month')
									$("#id_time").attr("value", date.toISOString().slice(11,16));
								
								$("#newAppointment").openModal();
						},
						eventClick: function(calEvent, jsEvent, view){
						
							{% for apt in appointments %}
								if (calEvent.pk == "{{ apt.pk }}") {
										document.getElementById("deleteApt").action = "/deleteAppForm/{{ apt.pk }}";
								}
							{% endfor %}
							
							$("#deleteAppointment").openModal();
						}
						
					});
					
						{% for apt in appointments %}
							var newEvent = {
								title: "Apt",
								start: "{{ apt.date|escapejs }}".slice(0,16),
								end: "{{ apt.date|escapejs }}".slice(0,16),
								doctor: "{{ apt.doctor }}",
								patient: "{{ apt.userName }}",
								pk: "{{ apt.pk }}",
							}
							calendar.fullCalendar('renderEvent', newEvent, true)
						{% endfor %}
						//initialize material
						$('#select').material_select();
				});			
	</script>	
</head>
<!-- setting the body to be 100% of the window height allows for vertically aligned elements -->
<body class="blue lighten-4" style="height: 100vh;">

<!-- note that html files that import this will have to close the open html tags -->