<!-- Server Side Includes to pull in head html file -->
{% include 'head.html' %}
  <div class="row valign-wrapper" style="height: 100%;">
	
			<div class="col s12 m8 l4 push-m2 push-l4 valign">
			
					<form class="col transparent " method="post" action=".">
					
							{% csrf_token %}
							<div class="card z-depth-4 grey lighten-5 ">
								<!--TODO adjust placement and style of error message and color fields-->
								<!--TODO change the color of the button and button text -->
								
									<div class="card-content ">
									
											<span class="card-title">Login</span>
											
													<!--If statements that check the auth code returned from views -->
													{% if authenticated == 2 %}
															<span class="red-text right">Invalid Login</span>
													{% elif authenticated == 1 %}
															<span class="red-text right">Account Inactive</span>
													{% endif %}
													
											<!--form goes here-->
											<div class="input-field col s12">
													<input name="username" type="text" {% if authenticated == 2 or authenticated == 1 %} value="{{ username }}" {% endif %}  class="validate">
													<label for="username">Username</label>
											</div>
											
											<div class="input-field col s12">
													<input name="password" type="password" {% if authenticated == 2 or authenticated == 1 %} value="{{ password }}" {% endif %}  class="validate">
													<label for="password">Password</label>
											</div>
									</div>
									<div class="card-action right-align">
											<!-- submit button goes here -->
											<button class="btn waves-effect waves-light white-text blue darken-1" type="submit" name="action">Submit<i class="material-icons right">send</i></button>	
											<a class="btn waves-effect waves-light white-text blue darken-1"	href="/register">Register<i class="material-icons right">assignment</i></a>
									</div>
							</div>
					</form>
			</div>
  </div>
<!-- Close the tags opened in head.html -->
</body>
</html>