<!-- Server Side Includes to pull in head html file -->
{% include 'head.html' %}


<div class="container white z-depth-2 " style="height: 100%;">

    <div class="row" style="padding: 0px; margin: 0px;" >

				<form class="col transparent" method="post" action="." style="width: 100%; height: 100%; padding: 0px;">
        
						<div class="col s12 z-depth-1" style="padding: 0px;">
                <!-- Top bar nav links -->
                <ul class="tabs ">
                    <li class="white-text tab col s3"><a href="#ProfileInfo">Profile</a></li>
                    <li class="tab col s3 "><a href="#UserInfo" class="active">Account Info</a></li>
                    <li class="white-text tab col s3"><a href="#MedicalInfo">Medical</a></li>
                </ul>
            </div>

						
						
						
                <div class="input-field col s12 m6">
                    <input id="policyNumber" name="policyNumber" type="text" class="validate"  length="20">
                    <label for="policyNumber">Policy Number</label>
                </div>
								
                <div class="input-field col s12 m6">
                    <input id="provider" name="provider" type="text" class="validate"  length="40">
                    <label for="provider">Provider</label>
                </div>

                <div class="input-field col s6">
                    <select name="hospital">
                        <option value="" disabled selected>Choose Hospital:</option>
                            {% for singlehospital in hospitallist %}
                                    <option value="{{ singlehospital.name }}">
                                            {{ singlehospital.name }}
                                    </option>
                            {% empty %}
                                    <option value="">
                                            There are no hospitals
                                    </option>
                            {% endfor %}
                    </select>
                </div>


                <div class="input-field col s12 m6">
                    <input id="groupNumber" name="groupNumber" type="text" class="validate"  length="20">
                    <label for="groupNumber">Group Number</label>
                </div>
								
                <!-- This div is used to place the map in. Adjusting width/height will change it's size-->
                <div id="hospitalMap" style="width100%; height:300px;" class="col s12">
								</div>
            </div>


						<!--Begin general information tab-->
						<div id="ProfileInfo" class="col s12">
			
								<div>
										<p style="font-size:15px">Personal Info</p>
								</div>
			
								<!--Contatainer for left half of screen inputs-->
								<div class="col m6 l6" style="height:100%">
									
									<!--Create input field for first name-->
									<div class="input-field col s12">
											<input id="first_name" name="firstName" type="text" class="validate" pattern="[A-Za-z]+"  length="40">
											<label for="first_name">First Name</label>
									</div>

									<!--Create input field for middle name-->
									<div class="input-field col s12">
											<input id="middle_name" name="middleName" type="text" class="validate" pattern="[A-Za-z]+"  length="40">
											<label for="middle_name">Middle Name</label>
									</div>

									<!--Create input field for last name-->
									<div class="input-field col s12">
															<input id="last_name" name="lastName" type="text" class="validate" pattern="[A-Za-z]+"  length="40">
															<label for="last_name">Last Name</label>
									</div>

									<!--Create input field for email address-->
									<div class="input-field col s12">
															<input id="email" name="email" type="email" class="validate"  length="40">
											<label for="email">Email Address</label>
									</div>
									
									<!--Create input field for date of birth-->
									<div class="input-field col s12">
														 <input id="dateOfBirth" name="dateOfBirth" type="text" class="validate" pattern="[0-9]{2}[\/][0-9]{2}[\/][0-9]{4}" length="40">
														 <label for="dateOfBirth">Birthdate MM/DD/YYYY</label>
									</div>	
								</div>


								<!--Contatainer for right half of screen inputs-->
								<div class="col m6 l6">
									
										<div class="input-field col s12">
											<input id="address" type="text" name="address" class="validate" pattern="[A-Za-z0-9 ]+"  length="50">
											<label for="address">Street Address</label>
										</div>
										
										<div class="input-field col s12">
											<input id="city" type="text" name="city" class="validate" pattern="[A-Za-z ]+"  length="40">
											<label for="city">City</label>
										</div>

										<div class="input-field col s3">
												<select name="state">
														<option value="" disabled selected>State:</option>
														<option value="Alabama">Alabama</option>
														<option value="Alaska">Alaska</option>
														<option value="Arizona">Arizona</option>
														<option value="Arkansas">Arkansas</option>
														<option value="California">California</option>
														<option value="Colorado">Colorado</option>
														<option value="Connecticut">Connecticut</option>
														<option value="Delaware">Delaware</option>
														<option value="Florida">Florida</option>
														<option value="Georgia">Georgia</option>
														<option value="Hawaii">Hawaii</option>
														<option value="Idaho">Idaho</option>
														<option value="Illinois">Illinois</option>
														<option value="Indiana">Indiana</option>
														<option value="Iowa">Iowa</option>
														<option value="Kansas">Kansas</option>
														<option value="Kentucky">Kentucky</option>
														<option value="Louisiana">Louisiana</option>
														<option value="Maine">Maine</option>
														<option value="Maryland">Maryland</option>
														<option value="Massachusetts">Massachusetts</option>
														<option value="Michigan">Michigan</option>
														<option value="Minnesota">Minnesota</option>
														<option value="Mississippi">Mississippi</option>
														<option value="Missouri">Missouri</option>
														<option value="Montana">Montana</option>
														<option value="Nebraska">Nebraska</option>
														<option value="Nevada">Nevada</option>
														<option value="New Hampshire">New Hampshire</option>
														<option value="New Jersey">New Jersey</option>
														<option value="New Mexico">New Mexico</option>
														<option value="New York">New York</option>
														<option value="North Carolina">North Carolina</option>
														<option value="North Dakota">North Dakota</option>
														<option value="Ohio">Ohio</option>
														<option value="Oklahoma">Oklahoma</option>
														<option value="Oregon">Oregon</option>
														<option value="Pennsylvannia">Pennsylvannia</option>
														<option value="Rhode Island">Rhode Island</option>
														<option value="South Carolina">South Carolina</option>
														<option value="South Dakota">South Dakota</option>
														<option value="Tennessee">Tennessee</option>
														<option value="Texas">Texas</option>
														<option value="Utah">Utah</option>
														<option value="Vermont">Vermont</option>
														<option value="Virginia">Virginia</option>
														<option value="Washington">Washington</option>
														<option value="West Virginia">West Virginia</option>
														<option value="Wisconsin">Wisconsin</option>
														<option value="Wyoming">Wyoming</option>
												</select>
										</div>
									
										<div class="input-field col s3">
												<input id="zipcode" name="zipcode" type="text" class="validate" pattern="[0-9]{5}"  length="5">
												<label for="zipcode">Zipcode</label>
										</div>
									
										<div class="input-field col s12">
											<input id="phoneNumber" name="phoneNumber" type="text" class="validate" pattern="[0-9]{7,10}" length="10">
											<label for="phoneNumber">Phone Number</label>
										</div>
									
										<div class="input-field col s6">
												<select name="doctor">
                                                    <option value="" disabled selected>Choose Doctor:</option>
														{% for singledoctor in doctorlist %}
																<option value="{{ singledoctor.user.username }}">
																		{{ singledoctor.profileInfo.firstName }}
																</option>
														{% empty %}
																<option value="">
																		There are no doctors in the system
																</option>
														{% endfor %}
												</select>	
										</div>
								</div>
			
								<div class="col s12">
										<div>
												<p style="font-size:15px">Emergency Contact Info</p>
										
												<div class="input-field col s6">
																	<input id="eName" name="eName" type="text" class="validate" pattern="[ A-Za-z]+"  length="40">
																	<label for="eName">Name</label>
												</div>
										
												<div class="input-field col s6">
													<input id="ePhoneNumber" name="ePhoneNumber" type="text" class="validate" pattern="[0-9]{7,10}" length="10">
													<label for="ePhoneNumber">Phone Number</label>
												</div>
										
										</div>
								</div>
						</div>
						
														<button type="submit" class="btn waves-effect waves-light" >Submit</button>
														
														

            </div>
        </form>
    </div>
</div>

<!-- Close the tags opened in head.html -->
</body>
</html>